.experienceBar {
  align-items: center;
  display: flex;
  margin-bottom: 3rem;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  background: var(--gray-line);
  border-radius: 4px;
  flex: 1;
  height: 4px;
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div div {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(211, 132, 10, 1) 31%,
    rgba(254, 255, 13, 1) 51%,
    rgba(162, 254, 8, 1) 74%,
    rgba(47, 251, 0, 1) 100%
  );
  border-radius: 4px;
  height: 4px;
}

span.currentExperience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}
